    body{
      font-family: Arial;
    }
    .Works, .input-grid{
      display: grid;
      grid-template-columns: 200px 150px 100px;
      row-gap: 10px;
      column-gap: 10px;
      align-items: center;
    }
    .input-grid{
      margin-bottom: 10px;
      align-items: stretch;
    }
    .input, .js-date{
      padding: 6px;
      font-size: 15px;
    }
    .add-button, .delete-button{
      border: none;
      color: white;
      font-size: 15px;
      cursor: pointer;
      border-radius: 6px;
    }
    .delete-button{
      background-color: darkred;
      padding: 10px 0 10px 0;
    }
    .add-button{
      background-color: green;
    }